/* GENERAL */

.top {
    margin-top: 100px;
}

.error {
    text-align: center;
    color: #ffffff;
}

/* HEADERS AND TEXT */

.dne {
    font-size: 75px;
    font-weight: bold;
}

.dne {
    font-size: 40px;
}

.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}